:root {
  /* CUSTOM PROPERTIES

  /* colors */
  --raTabs-color-darkgreen: darkgreen;
  --raTabs-color-beige: beige;
  --raTabs-color-gray: gray;
  --raTabs-color-lightgray: lightgray;

  /* border */
  --raTabs-border-style-solid: solid;
  --raTabs-border-width: 1px;
  --raTabs-border-color-darkgreen: darkgreen;
  --raTabs-border-none: none;

  /* paddings */
  --raTabs-padding-top: 12px;
  --raTabs-padding-bottom: 12px;
  --raTabs-padding-right: 30px;
  --raTabs-padding-left: 30px;
  --raTabs-padding: 10px;

  /*  gaps */
  --raTabs-gap: 0;

  /* cursor */
  --raTabs-cursor-pointer: pointer;
  --raTabs-cursor-not-allowed: not-allowed;

  /* USER CUSTOM PROPERTIES

  /* user colors */
  --raTabs-color-text: var(--raTabs-border-color-darkgreen);
  --raTabs-color-bg: var(--raTabs-border-color-beige);
  --raTabs-color-text-active: var(--raTabs-border-color-beige);
  --raTabs-color-bg-active: var(--raTabs-border-color-darkgreen);
  --raTabs-color-text-desibled: var(--raTabs-color-gray);
  --raTabs-color-bg-desibled: var(--raTabs-color-lightgray);

  /* user border */
  --raTabs-border-style-tabpanel: var(--raTabs-border-style-solid);
  --raTabs-border-width-tabpanel: var(--raTabs-border-width);
  --raTabs-border-color-tabpanel: var(--raTabs-border-color-darkgreen);
  --raTabs-border-none-items: var(--raTabs-border-none);

  /* user paddings */
  --raTabs-padding-tabs-items: var(--raTabs-padding-top)
    var(--raTabs-padding-right) var(--raTabs-padding-bottom)
    var(--raTabs-padding-left);
  --raTabs-padding-tabpanel: var(--raTabs-padding);

  /* user gaps */
  --raTabs-gap-tablist: var(--raTabs-gap);

  /* user cursor */
  --raTabs-cursor-item-active: var(--raTabs-cursor-pointer);
  --raTabs-cursor-item-disabled: var(--raTabs-cursor-not-allowed);
}

/* tabs */

.raTabs [role="tab"] {
  border-style: var(--raTabs-border-none-items);
  padding: var(--raTabs-padding-tabs-items);
  background-color: var(--raTabs-color-bg);
  color: var(--raTabs-color-text);
  cursor: var(--raTabs-cursor-item-active);
}

.raTabs [role="tabpanel"] {
  border-width: var(--raTabs-border-width-tabpanel);
  border-style: var(--raTabs-border-style-tabpanel);
  border-color: var(--raTabs-border-color-tabpanel);
  padding: var(--raTabs-padding-tabpanel);
}

.raTabs [role="tablist"] {
  display: flex;
  gap: var(--raTabs-gap-tablist);
}

/* active style */

.tabs [role="tab"][aria-selected="true"] {
  background-color: var(--raTabs-color-bg-active);
  color: var(--raTabs-color-text-active);
}

/* disabled style */

.tabs [role="tab"]:disabled {
  background-color: var(--raTabs-color-bg-desibled);
  color: var(--raTabs-color-text-desibled);
  cursor: var(--raTabs-cursor-item-disabled);
}
